.container
  .row
    .col-md-8
      %h4 Web Analytics API Tracking Tool
      %h5 Add a little javascript snippet to your website and gather data about how people use your site.
      %h5 Getting started is as easy as 1...2...3
      %br
    .col-md-8
      - if current_user
        Hey there 
        %b #{current_user.email}!  
        Your authentication token is 
        %b #{current_user.authentication_token}.
        %br
      - else
        = link_to "Sign in", new_user_session_path
        or
        \#{link_to "Sign up", new_user_registration_path}
      %br
      %br
      %ol.list-group
        %li.list-group-item
          = link_to "Sign Up", new_user_registration_path
          and add your domain to your 
          %em Tracked Domain 
          list.
        %li.list-group-item 
          Add a link to our Javascript file in your site.  Copy and paste the below script tag to your application file.
          %br
          %samp.small //kristingonzalez-blocmetrics.herokuapp.com/agent.js
        %li.list-group-item 
          Watch your site's activity get tracked in your 
          %em Events 
          log.  Use your authentication token to submit custom events like this.
          %br
          %samp.small blocmetrics.report("your_auth_token", "event_type(i.e. "page_view" or "click")")
    .row.col-md-4
    %br
    %p For more information you can view the most recent instructions on
    = link_to  "Github", "https://github.com/kristing81/Blocmetrics", class: "btn btn-default btn-sm" 
    
