= form_for tracked_domain_events_path(tracked_domain), class: 'form-horizontal', remote: true do |f|
  .form-group
  = f.label(:tracked_domain_id, "Tracked Domain") 
  = f.select(:tracked_domain_id, @tracked_domains.map {|t| [t.name, t.id]})
  .form-group
  = f.label :event_type
  = f.radio_button(:event_type, 'Page View') 
  Page View
  = f.radio_button(:event_type, 'Click') 
  Click
  .form-group
  =f.label :url
  =f.url_field :url, class: 'form-control'
  .form-group
  = f.label :ip_address
  = f.text_field :ip_address, class: 'form-control'
  .form-group
  =f.submit "Save", class: 'btn btn-success btn-sm'

  