.container
  %h3.col.md-6= @event
  %p= @event.event_type
  %p= @event.url
  %p= @event.ip_address

  %br
  = link_to 'New Event', new_tracked_domain_event_path, class: 'btn btn-primary btn-sm'
  = link_to "Edit Event", {:action => 'edit', :id => @event.id, :tracked_domain_id => @tracked_domain.id }, class: 'btn btn-success btn-sm'
  = link_to "Delete Event", {:action => 'delete', :id => @event.id, :tracked_domain_id => @tracked_domain.id }, class: 'btn btn-danger btn-sm', data: {confirm: 'Are you sure you want to delete this event?'}
  = link_to 'Back', tracked_domain_path(@wiki), class: 'btn btn-info btn-sm